<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <!--[if lte IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/css/ie.css"/>
                <script src="{{ SITEURL }}/js/IE8.js" type="text/javascript"></script><![endif]-->

        <!--[if lt IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/css/ie6.css"/><![endif]-->

</head>

<body>
	<div id="wrap" style="width:850px">
	    <div id="container" style="width:560px">
            {% include 'github.html' %}


            <div class="entry">
                {% block content %}
                {% endblock %}
            </div>
        </div>


        <div id="sidebar">
            <h1><a href="{{ SITEURL }}/" title="title">{{ SITENAME }}</a></h1>
            <span class="description">{{ DESCRIPTION }} </span>
            <ul>
            {% for page in pages %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
              <li><a href="{{ SITEURL }}/najave.html">Najave</a></li>
            </ul>
            <!-- <span class="feed"><a href="">RSS</a> | <a href="">Atom</a></span> -->
        </div>

        <div id="footer">
          <!--
            <nav>
                <ul>
                {% if categories|length > 1 %}
                    <li>:: <a href="{{ SITEURL }}/categories.html">Categories</a></li>
                {% endif %}
                {% if tags|length > 1 %}
                    <li>:: <a href="{{ SITEURL }}/tags.html">Tags</a></li>
                {% endif %}
                </ul>
            </nav>
          -->

            <div id="credits">
                <span>Adapted from <a href="http://wordpress.org/themes/monospace">Monospace</a> || Created with <a href="">Pelican</a></span>
            </div>
                
        </div>

    {% include 'analytics.html' %}
    {% include 'piwik.html' %}
    {% include 'disqus_script.html' %}

    </div>

</body>
</html>
