{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
    {% for article in articles %}        

        {# First item #}
        {% if loop and loop.first %}
            <header>
            <h1><a href="{{ SITEURL }}" id="site-title"> {# {{ SITENAME }} #} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> {#:#} <a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a></h1>
                {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
            </header>

            <article>
                {{ article.content }}{% include 'comments.html' %}
            </article>
            {% if loop and loop.length > 1 %}
                <section id="article-list">
                    <h2>All posts</h2>
                    <ol>
            {% endif %}
        {# other items #}
        {% else %} 
            <li><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></li>
        {% endif %}
{% endfor %}
    {% if loop and loop.length > 1 %}
    </ol>
    </section><!-- #article-list -->
{% endif %}
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
